{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}

{% block content %}
{% if rootPage %}
<ol>
    <li>
        <h4>
            <a href="{{ path('victoire_core_page_show', {'url': rootPage.url}) }}" target="_parent">
                {{ rootPage.name }}
            </a>
        </h4>
        {% if rootPage.children %}
        <ol>
           {{ _self.pagesHierarchy(rootPage.children) }}
        </ol>
        {% endif %}
    </li>
</ol>
{% else %}
    Veuillez choisir une page de départ pour créer le plan du site
{% endif %}
{% endblock content %}

{% macro pagesHierarchy(pagesList) %}
{% for page in pagesList %}
    <li>
        <a href="{{ path('victoire_core_page_show', {'url': page.url}) }}" target="_parent">
            {{ page.name }}
        </a>
        {% if page.children %}
            <ol>
               {{ _self.pagesHierarchy(page.children) }}
            </ol>
        {% endif %}
    </li>
{% endfor %}
{% endmacro %}
