{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}

{% block content %}
{% if rootPage %}
<ol>
    <li>
        <h4>
            <a href="{{ path('victoire_core_page_show', {'url': rootPageReference.url}) }}" target="_parent">
                {{ rootPageReference.name }}
            </a>
        </h4>

        {% if rootPageReference.children %}
        <ol>
           {{ _self.pagesHierarchy(rootPageReference.children) }}
        </ol>
        {% endif %}
    </li>
</ol>
{% else %}
    Veuillez choisir une page de départ pour créer le plan du site
{% endif %}
{% endblock content %}

{% macro pagesHierarchy(pageReferences) %}
    {% for pageReference in pageReferences %}
        <li>
            <a href="{{ path('victoire_core_page_show', {'url': pageReference.url}) }}" target="_parent">
                {{ pageReference.name }}
            </a>
            {% if pageReference.children %}
                <ol>
                   {{ _self.pagesHierarchy(pageReference.children) }}
                </ol>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}
