{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}

{% block content %}
{% import _self as _this %}
{% if rootPage %}
<ul class="depth-0">
    <li>
        <a class="h4" href="{{ path('victoire_core_page_show', {'url': rootPageReference.url}) }}" target="_parent">
            {{ rootPageReference.name }}
        </a>

        {% if rootPageReference.children and depth > 0 or depth is null %}
        <ul class="depth-1">
           {{ _this.pagesHierarchy(rootPageReference.children, depth, 1) }}
        </ul>
        {% endif %}
    </li>
</ul>
{% else %}
    {{ ''|trans }}
{% endif %}
{% endblock content %}

{% macro pagesHierarchy(pageReferences, depth, currentDepth) %}
    {% import _self as _this %}
    {% for pageReference in pageReferences %}
        <li>
            <a href="{{ path('victoire_core_page_show', {'url': pageReference.url}) }}" target="_parent">
                {{ pageReference.name }}
            </a>
            {% if pageReference.children and depth > currentDepth or depth is null %}
                <ul class="depth-{{ currentDepth + 1 }}">
                   {{ _this.pagesHierarchy(pageReference.children, depth, currentDepth + 1) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}
